@charset "UTF-8";


body {
    margin: 0px;
    margin-top: 10px;
    background-color: #ffffff;
}

#header {
    height: 60px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.477);
    position: fixed;
    top: 0;
    z-index: 99;
}

#header img {
    width: 70px;
    height: 50px;
}

#header a {
    color: white;
    text-decoration: none;
}

#menuButton {
    margin-top: 5px;
    text-align: center;
    font-size: 2em;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 98;
}

#menuNav {
    width: 99vw;
    height: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;

    visibility: hidden;
    transition: .8s;
    overflow-y: hidden;
    position: fixed;
    left: 0;
    z-index: 90;
}

#menuNav.active {
    padding-top: 100px;
    height: 100vh;
    visibility: visible;
}

#menuNav a {
    margin-bottom: 30px;
    text-decoration: none;
    color: white;
    font-size: 1.3em;
    font-weight: bold;
}

.backgroundImages {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0px;
}

#backgroundPicture {
    height: 550px;
    background-image: url(../imagens/background1.jpeg); 
}


[data-anime] {
    opacity: 0;
    transition: 0.6s;
}

[data-anime = "left"] {
    transform: translate3d(-50px, 0, 0);
}

[data-anime = "right"] {
    transform: translate3d(50px, 0, 0);
}

[data-anime].animate {
   opacity: 1;
   transform: translate3d(0px, 0px, 0px);
}


p {
    width: 300px;
    margin: auto;
    text-align: justify;
}

#background2 {
    margin: 15px;
    width: 100%;
    height: 300px;
    margin: auto;
    background-image: url(../imagens/background2.jpg);
    border-radius: none;
}

#carousel1 {
    margin-top: 10px;
    height: 300px;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
}

#carousel1 img {
    margin-right: 15px;
    height: 280px;
    width: 280px;
}

#carousel2 {
    margin-top: 10px;
    height: 300px;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
}

#carousel2 img {
    margin-right: 15px;
    height: 280px;
    width: 280px;
}

#reviewsBox {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 15px;
}

.reviews {
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-size: contain;
}

#review1 {
    width: 250px;
    height: 90px;
    background-image: url(../imagens/review1.png);
}

#review2 {
    width: 250px;
    height: 100px;
    background-image: url(../imagens/review2.png);
}

#review3 {
    width: 250px;
    height: 120px;
    background-image: url(../imagens/review3.png);
}

#review {
    background-color: #333741;
    color: white;
    text-decoration: none;
    border: 2px solid black;
    border-radius: 3px;
    padding: 5px;
    font-weight: bold;
}

#review:hover {
    background-color: #4c4f56;
}

#footer {
    width: 100%;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#footer h4 {
    text-align: center;
    margin-bottom: 20px;
}

#footer p {
    text-align: center;
    font-size: 0.9em;
    color: white;
}

#footer address {
    font-size: 0.8em;
}

#backTop {
    position: fixed;
    right: 0;
    bottom: 0;
    background-color: transparent;
    border: none;
    font-size: 35px;
    font-weight: bold;
    display: none;
    transition: 1s;
}

#backTop a {
    color: black;
    text-shadow: 0px 0px 1px white;
}

/*
    Gallery
*/

#backgroundPictureGallery {
    height: 550px;
    background-image: url(../imagens/backgroundgallery.jpeg);
}

#mainGallery {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 15px;
}

.border {
    width: 250px;
    height: 250px;
    margin: auto;
    overflow: hidden;
}

.imgGallery {
    width: 250px;
    height: 250px;
    background-size: cover;
    background-position: center;
    margin: auto;
    transition: 1s;
}

.imgGallery:hover {
    transform: scale(1.1);
}

#haircut1 {
    background-image: url(../imagens/haircut1.jpg);
}

#haircut2 {
    background-image: url(../imagens/haircut2.jpg);
}

#haircut3 {
    background-image: url(../imagens/haircut3.jpg);
}

#beard1 {
    background-image: url(../imagens/beard1.jpg);
}

#beard2 {
    background-image: url(../imagens/beard2.jpg);
}

#beard3 {
    background-image: url(../imagens/beard3.jpg);
}

#beard4 {
    background-image: url(../imagens/beard4.jpg);
}

#beard5 {
    background-image: url(../imagens/beard5.jpg);
}



/*
    Crew
*/

#backgroundPictureCrew {
    height: 550px;
    background-image: url(../imagens/carousel1.jpg); 
}